.afPianos{
    background-color: var(--backgroundFondo2);
}
.info-af-pianos{
    display: flex;
    justify-content: space-between;
}
.img-af-pianos{
    width: 50%;
}

.text-af-pianos{
    width: 50%;
    margin: 0px auto 0px auto;
}
.text-af-pianos h2{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: var(--colorPrincipal);
    letter-spacing: 1px;
}
.text-af-pianos h3{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 500;
}
.text-af-pianos h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: var(--colorLetra);
}
.text-af-pianos p{
    color: var(--colorLetra);
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}