.rvsPianos{
    background-color: var(--backgroundFondo2);
}
.info-rvs-pianos{
    display: flex;
    justify-content: space-between;
}
.img-rvs-pianos{
    width: 50%;
}

.text-rvs-pianos{
    width: 50%;
    padding-bottom: 0;
    margin: auto 0px auto 0px;
}
.text-rvs-pianos h2{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: var(--colorPrincipal);
    letter-spacing: 1px;
}
.text-rvs-pianos h3{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 500;
}
.text-rvs-pianos h4{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: var(--colorLetra);
}
.text-rvs-pianos p{
    color: var(--colorLetra);
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}