.afcPianos{
    background-color: var(--backgroundFondo2);
}
.info-afc-pianos{
    display: flex;
    justify-content: space-between;
}
.img-afc-pianos{
    width: 50%;
}

.text-afc-pianos{
    width: 50%;
    margin: auto 0px auto 0px;
}
.text-afc-pianos h2{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: var(--colorPrincipal);
    letter-spacing: 1px;
}
.text-afc-pianos h3{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 500;
}
.text-afc-pianos h4{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: var(--colorLetra);
}
.text-afc-pianos p{
    color: var(--colorLetra);
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}
.afcPianos2{
    background-color: var(--backgroundFondo2);
}
.info-afc-pianos2{
    display: flex;
    justify-content: space-between;
}

.afcPianos2{
    background-color: var(--backgroundFondo1);
}
.img-afc-pianos2 img{
    justify-content: right;
}
.text-afc-pianos2{
    width: 50%;
    margin: auto 0px auto 0px;
}
.text-afc-pianos2 h2{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: var(--colorPrincipal);
    letter-spacing: 1px;
}
.text-afc-pianos2 h3{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 500;
}

.text-afc-pianos2 h4{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: var(--colorLetra);
}

.text-afc-pianos2 p{
    color: var(--colorLetra);
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}